.row
  .large-8
    %h1 CodeChat
.container
  #code
    - @messages.data.each do |key, msg|
      .msg
        = raw CodeRay.scan(msg, :ruby).div
  = form_tag create_message_path, method: :post, remote: true do |f|
    = text_field_tag :content
    = submit_tag "Send", class: "button radius"

  .reset
    = button_to "Reset", reset_messages_path, class: "button expand alert", remote: true